[class^="my-"], [class*=" my-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'myiconfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-music-logo-line-3:before {
  content: "\e900";
  color: #d22420;
}
.my-music-my:before {
  content: "\e901";
  color: #21d398;
}
.my-music-logo-5:before {
  content: "\e902";
  color: #6a83ff;
}
.my-music-logo-6:before {
  content: "\e903";
  color: #51bc77;
}
.my-ximalaya-ting:before {
  content: "\e904";
  color: #ff6a6a;
}
.my-music-logo-4:before {
  content: "\e905";
  color: #1296db;
}
.my-musci-quality:before {
  content: "\e906";
  color: #ff6a6a;
}
.my-qq-text:before {
  content: "\e907";
  color: #00a4ff;
}
.my-music-qqmusic-logo .path1:before {
  content: "\e908";
  color: rgb(0, 0, 0);
}
.my-music-qqmusic-logo .path2:before {
  content: "\e909";
  margin-left: -3.6767578125em;
  color: rgb(255, 220, 0);
}
.my-music-qqmusic-logo .path3:before {
  content: "\e90a";
  margin-left: -3.6767578125em;
  color: rgb(42, 176, 107);
}
.my-music-logo-2:before {
  content: "\e90b";
  color: #09b971;
}
.my-music-play:before {
  content: "\e90c";
}
.my-musci-pause:before {
  content: "\e90d";
}
.my-music-next:before {
  content: "\e90e";
}
.my-musci-qq-line:before {
  content: "\e90f";
  color: #09b971;
}
.my-music-wangyiyun-redlogo:before {
  content: "\e910";
  color: #d81e06;
}
.my-music-wangyiyun-logo:before {
  content: "\e911";
  color: #09b971;
}
.my-musci-logo-1:before {
  content: "\e912";
  color: #09b971;
}
.my-music-logo-line-2:before {
  content: "\e913";
  color: #09b971;
}
.my-music-logo-3:before {
  content: "\e914";
  color: #09b971;
}
.my-home:before {
  content: "\e915";
}
.my-home2:before {
  content: "\e916";
}
.my-home3:before {
  content: "\e917";
}
.my-office:before {
  content: "\e918";
}
.my-newspaper:before {
  content: "\e919";
}
.my-pencil:before {
  content: "\e91a";
}
.my-pencil2:before {
  content: "\e91b";
}
.my-quill:before {
  content: "\e91c";
}
.my-pen:before {
  content: "\e91d";
}
.my-blog:before {
  content: "\e91e";
}
.my-eyedropper:before {
  content: "\e91f";
}
.my-droplet:before {
  content: "\e920";
}
.my-paint-format:before {
  content: "\1f3a6";
}
.my-image:before {
  content: "\e922";
}
.my-images:before {
  content: "\e923";
}
.my-camera:before {
  content: "\e924";
}
.my-headphones:before {
  content: "\e925";
}
.my-music:before {
  content: "\e926";
}
.my-play:before {
  content: "\e927";
}
.my-film:before {
  content: "\e928";
}
.my-video-camera:before {
  content: "\e929";
}
.my-dice:before {
  content: "\e92a";
}
.my-pacman:before {
  content: "\e92b";
}
.my-spades:before {
  content: "\e92c";
}
.my-clubs:before {
  content: "\e92d";
}
.my-diamonds:before {
  content: "\e92e";
}
.my-bullhorn:before {
  content: "\e92f";
}
.my-connection:before {
  content: "\e930";
}
.my-podcast:before {
  content: "\e931";
}
.my-feed:before {
  content: "\e932";
}
.my-mic:before {
  content: "\e933";
}
.my-book:before {
  content: "\e934";
}
.my-books:before {
  content: "\e935";
}
.my-library:before {
  content: "\e936";
}
.my-file-text:before {
  content: "\e937";
}
.my-profile:before {
  content: "\e938";
}
.my-file-empty:before {
  content: "\e939";
}
.my-files-empty:before {
  content: "\e93a";
}
.my-file-text2:before {
  content: "\e93b";
}
.my-file-picture:before {
  content: "\e93c";
}
.my-file-music:before {
  content: "\e93d";
}
.my-file-play:before {
  content: "\e93e";
}
.my-file-video:before {
  content: "\e93f";
}
.my-file-zip:before {
  content: "\e940";
}
.my-copy:before {
  content: "\e941";
}
.my-paste:before {
  content: "\e942";
}
.my-stack:before {
  content: "\e943";
}
.my-folder:before {
  content: "\e944";
}
.my-folder-open:before {
  content: "\e945";
}
.my-folder-plus:before {
  content: "\e946";
}
.my-folder-minus:before {
  content: "\e947";
}
.my-folder-download:before {
  content: "\e948";
}
.my-folder-upload:before {
  content: "\e949";
}
.my-price-tag:before {
  content: "\e94a";
}
.my-price-tags:before {
  content: "\e94b";
}
.my-barcode:before {
  content: "\e94c";
}
.my-qrcode:before {
  content: "\e94d";
}
.my-ticket:before {
  content: "\e94e";
}
.my-cart:before {
  content: "\e94f";
}
.my-coin-dollar:before {
  content: "\e950";
}
.my-coin-euro:before {
  content: "\e951";
}
.my-coin-pound:before {
  content: "\e952";
}
.my-coin-yen:before {
  content: "\e953";
}
.my-credit-card:before {
  content: "\e954";
}
.my-calculator:before {
  content: "\e955";
}
.my-lifebuoy:before {
  content: "\e956";
}
.my-phone:before {
  content: "\e957";
}
.my-phone-hang-up:before {
  content: "\e958";
}
.my-address-book:before {
  content: "\e959";
}
.my-envelop:before {
  content: "\e95a";
}
.my-pushpin:before {
  content: "\e95b";
}
.my-location:before {
  content: "\e95c";
}
.my-location2:before {
  content: "\e95d";
}
.my-compass:before {
  content: "\e95e";
}
.my-compass2:before {
  content: "\e95f";
}
.my-map:before {
  content: "\e960";
}
.my-map2:before {
  content: "\e961";
}
.my-history:before {
  content: "\e962";
}
.my-clock:before {
  content: "\e963";
}
.my-clock2:before {
  content: "\e964";
}
.my-alarm:before {
  content: "\e965";
}
.my-bell:before {
  content: "\e966";
}
.my-stopwatch:before {
  content: "\e967";
}
.my-calendar:before {
  content: "\e968";
}
.my-printer:before {
  content: "\e969";
}
.my-keyboard:before {
  content: "\e96a";
}
.my-display:before {
  content: "\e96b";
}
.my-laptop:before {
  content: "\e96c";
}
.my-mobile:before {
  content: "\e96d";
}
.my-mobile2:before {
  content: "\e96e";
}
.my-tablet:before {
  content: "\e96f";
}
.my-tv:before {
  content: "\e970";
}
.my-drawer:before {
  content: "\e971";
}
.my-drawer2:before {
  content: "\e972";
}
.my-box-add:before {
  content: "\e973";
}
.my-box-remove:before {
  content: "\e974";
}
.my-download:before {
  content: "\e975";
}
.my-upload:before {
  content: "\e976";
}
.my-floppy-disk:before {
  content: "\e977";
}
.my-drive:before {
  content: "\e978";
}
.my-database:before {
  content: "\e979";
}
.my-undo:before {
  content: "\e97a";
}
.my-redo:before {
  content: "\e97b";
}
.my-undo2:before {
  content: "\e97c";
}
.my-redo2:before {
  content: "\e97d";
}
.my-forward:before {
  content: "\e97e";
}
.my-reply:before {
  content: "\e97f";
}
.my-bubble:before {
  content: "\e980";
}
.my-bubbles:before {
  content: "\e981";
}
.my-bubbles2:before {
  content: "\e982";
}
.my-bubble2:before {
  content: "\e983";
}
.my-bubbles3:before {
  content: "\e984";
}
.my-bubbles4:before {
  content: "\e985";
}
.my-user:before {
  content: "\e986";
}
.my-users:before {
  content: "\e987";
}
.my-user-plus:before {
  content: "\e988";
}
.my-user-minus:before {
  content: "\e989";
}
.my-user-check:before {
  content: "\e98a";
}
.my-user-tie:before {
  content: "\e98b";
}
.my-quotes-left:before {
  content: "\e98c";
}
.my-quotes-right:before {
  content: "\e98d";
}
.my-hour-glass:before {
  content: "\e98e";
}
.my-spinner:before {
  content: "\e98f";
}
.my-spinner2:before {
  content: "\e990";
}
.my-spinner3:before {
  content: "\e991";
}
.my-spinner4:before {
  content: "\e992";
}
.my-spinner5:before {
  content: "\e993";
}
.my-spinner6:before {
  content: "\e994";
}
.my-spinner7:before {
  content: "\e995";
}
.my-spinner8:before {
  content: "\e996";
}
.my-spinner9:before {
  content: "\e997";
}
.my-spinner10:before {
  content: "\e998";
}
.my-spinner11:before {
  content: "\e999";
}
.my-binoculars:before {
  content: "\e99a";
}
.my-search:before {
  content: "\e99b";
}
.my-zoom-in:before {
  content: "\e99c";
}
.my-zoom-out:before {
  content: "\e99d";
}
.my-enlarge:before {
  content: "\e99e";
}
.my-shrink:before {
  content: "\e99f";
}
.my-enlarge2:before {
  content: "\e9a0";
}
.my-shrink2:before {
  content: "\e9a1";
}
.my-key:before {
  content: "\e9a2";
}
.my-key2:before {
  content: "\e9a3";
}
.my-lock:before {
  content: "\e9a4";
}
.my-unlocked:before {
  content: "\e9a5";
}
.my-wrench:before {
  content: "\e9a6";
}
.my-equalizer:before {
  content: "\e9a7";
}
.my-equalizer2:before {
  content: "\e9a8";
}
.my-cog:before {
  content: "\e9a9";
}
.my-cogs:before {
  content: "\e9aa";
}
.my-hammer:before {
  content: "\e9ab";
}
.my-magic-wand:before {
  content: "\e9ac";
}
.my-aid-kit:before {
  content: "\e9ad";
}
.my-bug:before {
  content: "\e9ae";
}
.my-pie-chart:before {
  content: "\e9af";
}
.my-stats-dots:before {
  content: "\e9b0";
}
.my-stats-bars:before {
  content: "\e9b1";
}
.my-stats-bars2:before {
  content: "\e9b2";
}
.my-trophy:before {
  content: "\e9b3";
}
.my-gift:before {
  content: "\e9b4";
}
.my-glass:before {
  content: "\e9b5";
}
.my-glass2:before {
  content: "\e9b6";
}
.my-mug:before {
  content: "\e9b7";
}
.my-spoon-knife:before {
  content: "\e9b8";
}
.my-leaf:before {
  content: "\e9b9";
}
.my-rocket:before {
  content: "\e9ba";
}
.my-meter:before {
  content: "\e9bb";
}
.my-meter2:before {
  content: "\e9bc";
}
.my-hammer2:before {
  content: "\e9bd";
}
.my-fire:before {
  content: "\e9be";
}
.my-lab:before {
  content: "\e9bf";
}
.my-magnet:before {
  content: "\e9c0";
}
.my-bin:before {
  content: "\e9c1";
}
.my-bin2:before {
  content: "\e9c2";
}
.my-briefcase:before {
  content: "\e9c3";
}
.my-airplane:before {
  content: "\e9c4";
}
.my-truck:before {
  content: "\e9c5";
}
.my-road:before {
  content: "\e9c6";
}
.my-accessibility:before {
  content: "\e9c7";
}
.my-target:before {
  content: "\e9c8";
}
.my-shield:before {
  content: "\e9c9";
}
.my-power:before {
  content: "\e9ca";
}
.my-switch:before {
  content: "\e9cb";
}
.my-power-cord:before {
  content: "\e9cc";
}
.my-clipboard:before {
  content: "\e9cd";
}
.my-list-numbered:before {
  content: "\e9ce";
}
.my-list:before {
  content: "\e9cf";
}
.my-list2:before {
  content: "\e9d0";
}
.my-tree:before {
  content: "\e9d1";
}
.my-menu:before {
  content: "\e9d2";
}
.my-menu2:before {
  content: "\e9d3";
}
.my-menu3:before {
  content: "\e9d4";
}
.my-menu4:before {
  content: "\e9d5";
}
.my-cloud:before {
  content: "\e9d6";
}
.my-cloud-download:before {
  content: "\e9d7";
}
.my-cloud-upload:before {
  content: "\e9d8";
}
.my-cloud-check:before {
  content: "\e9d9";
}
.my-download2:before {
  content: "\e9da";
}
.my-upload2:before {
  content: "\e9db";
}
.my-download3:before {
  content: "\e9dc";
}
.my-upload3:before {
  content: "\e9dd";
}
.my-sphere:before {
  content: "\e9de";
}
.my-earth:before {
  content: "\e9df";
}
.my-link:before {
  content: "\e9e0";
}
.my-flag:before {
  content: "\e9e1";
}
.my-attachment:before {
  content: "\e9e2";
}
.my-eye:before {
  content: "\e9e3";
}
.my-eye-plus:before {
  content: "\e9e4";
}
.my-eye-minus:before {
  content: "\e9e5";
}
.my-eye-blocked:before {
  content: "\e9e6";
}
.my-bookmark:before {
  content: "\e9e7";
}
.my-bookmarks:before {
  content: "\e9e8";
}
.my-sun:before {
  content: "\e9e9";
}
.my-contrast:before {
  content: "\e9ea";
}
.my-brightness-contrast:before {
  content: "\e9eb";
}
.my-star-empty:before {
  content: "\e9ec";
}
.my-star-half:before {
  content: "\e9ed";
}
.my-star-full:before {
  content: "\e9ee";
}
.my-heart:before {
  content: "\e9ef";
}
.my-heart-broken:before {
  content: "\e9f0";
}
.my-man:before {
  content: "\e9f1";
}
.my-woman:before {
  content: "\e9f2";
}
.my-man-woman:before {
  content: "\e9f3";
}
.my-happy:before {
  content: "\e9f4";
}
.my-happy2:before {
  content: "\e9f5";
}
.my-smile:before {
  content: "\e9f6";
}
.my-smile2:before {
  content: "\e9f7";
}
.my-tongue:before {
  content: "\e9f8";
}
.my-tongue2:before {
  content: "\e9f9";
}
.my-sad:before {
  content: "\e9fa";
}
.my-sad2:before {
  content: "\e9fb";
}
.my-wink:before {
  content: "\e9fc";
}
.my-wink2:before {
  content: "\e9fd";
}
.my-grin:before {
  content: "\e9fe";
}
.my-grin2:before {
  content: "\e9ff";
}
.my-cool:before {
  content: "\ea00";
}
.my-cool2:before {
  content: "\ea01";
}
.my-angry:before {
  content: "\ea02";
}
.my-angry2:before {
  content: "\ea03";
}
.my-evil:before {
  content: "\ea04";
}
.my-evil2:before {
  content: "\ea05";
}
.my-shocked:before {
  content: "\ea06";
}
.my-shocked2:before {
  content: "\ea07";
}
.my-baffled:before {
  content: "\ea08";
}
.my-baffled2:before {
  content: "\ea09";
}
.my-confused:before {
  content: "\ea0a";
}
.my-confused2:before {
  content: "\ea0b";
}
.my-neutral:before {
  content: "\ea0c";
}
.my-neutral2:before {
  content: "\ea0d";
}
.my-hipster:before {
  content: "\ea0e";
}
.my-hipster2:before {
  content: "\ea0f";
}
.my-wondering:before {
  content: "\ea10";
}
.my-wondering2:before {
  content: "\ea11";
}
.my-sleepy:before {
  content: "\ea12";
}
.my-sleepy2:before {
  content: "\ea13";
}
.my-frustrated:before {
  content: "\ea14";
}
.my-frustrated2:before {
  content: "\ea15";
}
.my-crying:before {
  content: "\ea16";
}
.my-crying2:before {
  content: "\ea17";
}
.my-point-up:before {
  content: "\ea18";
}
.my-point-right:before {
  content: "\ea19";
}
.my-point-down:before {
  content: "\ea1a";
}
.my-point-left:before {
  content: "\ea1b";
}
.my-warning:before {
  content: "\ea1c";
}
.my-notification:before {
  content: "\ea1d";
}
.my-question:before {
  content: "\ea1e";
}
.my-plus:before {
  content: "\ea1f";
}
.my-minus:before {
  content: "\ea20";
}
.my-info:before {
  content: "\ea21";
}
.my-cancel-circle:before {
  content: "\ea22";
}
.my-blocked:before {
  content: "\ea23";
}
.my-cross:before {
  content: "\ea24";
}
.my-checkmark:before {
  content: "\ea25";
}
.my-checkmark2:before {
  content: "\ea26";
}
.my-spell-check:before {
  content: "\ea27";
}
.my-enter:before {
  content: "\ea28";
}
.my-exit:before {
  content: "\ea29";
}
.my-play2:before {
  content: "\ea2a";
}
.my-pause:before {
  content: "\ea2b";
}
.my-stop:before {
  content: "\ea2c";
}
.my-previous:before {
  content: "\ea2d";
}
.my-next:before {
  content: "\ea2e";
}
.my-backward:before {
  content: "\ea2f";
}
.my-forward2:before {
  content: "\ea30";
}
.my-play3:before {
  content: "\ea31";
}
.my-pause2:before {
  content: "\ea32";
}
.my-stop2:before {
  content: "\ea33";
}
.my-backward2:before {
  content: "\ea34";
}
.my-forward3:before {
  content: "\ea35";
}
.my-first:before {
  content: "\ea36";
}
.my-last:before {
  content: "\ea37";
}
.my-previous2:before {
  content: "\ea38";
}
.my-next2:before {
  content: "\ea39";
}
.my-eject:before {
  content: "\ea3a";
}
.my-volume-high:before {
  content: "\ea3b";
}
.my-volume-medium:before {
  content: "\ea3c";
}
.my-volume-low:before {
  content: "\ea3d";
}
.my-volume-mute:before {
  content: "\ea3e";
}
.my-volume-mute2:before {
  content: "\ea3f";
}
.my-volume-increase:before {
  content: "\ea40";
}
.my-volume-decrease:before {
  content: "\ea41";
}
.my-loop:before {
  content: "\ea42";
}
.my-loop2:before {
  content: "\ea43";
}
.my-infinite:before {
  content: "\ea44";
}
.my-shuffle:before {
  content: "\ea45";
}
.my-arrow-up-left:before {
  content: "\ea46";
}
.my-arrow-up:before {
  content: "\ea47";
}
.my-arrow-up-right:before {
  content: "\ea48";
}
.my-arrow-right:before {
  content: "\ea49";
}
.my-arrow-down-right:before {
  content: "\ea4a";
}
.my-arrow-down:before {
  content: "\ea4b";
}
.my-arrow-down-left:before {
  content: "\ea4c";
}
.my-arrow-left:before {
  content: "\ea4d";
}
.my-arrow-up-left2:before {
  content: "\ea4e";
}
.my-arrow-up2:before {
  content: "\ea4f";
}
.my-arrow-up-right2:before {
  content: "\ea50";
}
.my-arrow-right2:before {
  content: "\ea51";
}
.my-arrow-down-right2:before {
  content: "\ea52";
}
.my-arrow-down2:before {
  content: "\ea53";
}
.my-arrow-down-left2:before {
  content: "\ea54";
}
.my-arrow-left2:before {
  content: "\ea55";
}
.my-circle-up:before {
  content: "\ea56";
}
.my-circle-right:before {
  content: "\ea57";
}
.my-circle-down:before {
  content: "\ea58";
}
.my-circle-left:before {
  content: "\ea59";
}
.my-tab:before {
  content: "\ea5a";
}
.my-move-up:before {
  content: "\ea5b";
}
.my-move-down:before {
  content: "\ea5c";
}
.my-sort-alpha-asc:before {
  content: "\ea5d";
}
.my-sort-alpha-desc:before {
  content: "\ea5e";
}
.my-sort-numeric-asc:before {
  content: "\ea5f";
}
.my-sort-numberic-desc:before {
  content: "\ea60";
}
.my-sort-amount-asc:before {
  content: "\ea61";
}
.my-sort-amount-desc:before {
  content: "\ea62";
}
.my-command:before {
  content: "\ea63";
}
.my-shift:before {
  content: "\ea64";
}
.my-ctrl:before {
  content: "\ea65";
}
.my-opt:before {
  content: "\ea66";
}
.my-checkbox-checked:before {
  content: "\ea67";
}
.my-checkbox-unchecked:before {
  content: "\ea68";
}
.my-radio-checked:before {
  content: "\ea69";
}
.my-radio-checked2:before {
  content: "\ea6a";
}
.my-radio-unchecked:before {
  content: "\ea6b";
}
.my-crop:before {
  content: "\ea6c";
}
.my-make-group:before {
  content: "\ea6d";
}
.my-ungroup:before {
  content: "\ea6e";
}
.my-scissors:before {
  content: "\ea6f";
}
.my-filter:before {
  content: "\ea70";
}
.my-font:before {
  content: "\ea71";
}
.my-ligature:before {
  content: "\ea72";
}
.my-ligature2:before {
  content: "\ea73";
}
.my-text-height:before {
  content: "\ea74";
}
.my-text-width:before {
  content: "\ea75";
}
.my-font-size:before {
  content: "\ea76";
}
.my-bold:before {
  content: "\ea77";
}
.my-underline:before {
  content: "\ea78";
}
.my-italic:before {
  content: "\ea79";
}
.my-strikethrough:before {
  content: "\ea7a";
}
.my-omega:before {
  content: "\ea7b";
}
.my-sigma:before {
  content: "\ea7c";
}
.my-page-break:before {
  content: "\ea7d";
}
.my-superscript:before {
  content: "\ea7e";
}
.my-subscript:before {
  content: "\ea7f";
}
.my-superscript2:before {
  content: "\ea80";
}
.my-subscript2:before {
  content: "\ea81";
}
.my-text-color:before {
  content: "\ea82";
}
.my-pagebreak:before {
  content: "\ea83";
}
.my-clear-formatting:before {
  content: "\ea84";
}
.my-table:before {
  content: "\ea85";
}
.my-table2:before {
  content: "\ea86";
}
.my-insert-template:before {
  content: "\ea87";
}
.my-pilcrow:before {
  content: "\ea88";
}
.my-ltr:before {
  content: "\ea89";
}
.my-rtl:before {
  content: "\ea8a";
}
.my-section:before {
  content: "\ea8b";
}
.my-paragraph-left:before {
  content: "\ea8c";
}
.my-paragraph-center:before {
  content: "\ea8d";
}
.my-paragraph-right:before {
  content: "\ea8e";
}
.my-paragraph-justify:before {
  content: "\ea8f";
}
.my-indent-increase:before {
  content: "\ea90";
}
.my-indent-decrease:before {
  content: "\ea91";
}
.my-share:before {
  content: "\ea92";
}
.my-new-tab:before {
  content: "\ea93";
}
.my-embed:before {
  content: "\ea94";
}
.my-embed2:before {
  content: "\ea95";
}
.my-terminal:before {
  content: "\ea96";
}
.my-share2:before {
  content: "\ea97";
}
.my-mail:before {
  content: "\ea98";
}
.my-mail2:before {
  content: "\ea99";
}
.my-mail3:before {
  content: "\ea9a";
}
.my-mail4:before {
  content: "\ea9b";
}
.my-amazon:before {
  content: "\ea9c";
}
.my-google:before {
  content: "\ea9d";
}
.my-google2:before {
  content: "\ea9e";
}
.my-google3:before {
  content: "\ea9f";
}
.my-google-plus:before {
  content: "\eaa0";
}
.my-google-plus2:before {
  content: "\eaa1";
}
.my-google-plus3:before {
  content: "\eaa2";
}
.my-hangouts:before {
  content: "\eaa3";
}
.my-google-drive:before {
  content: "\eaa4";
}
.my-facebook:before {
  content: "\eaa5";
}
.my-facebook2:before {
  content: "\eaa6";
}
.my-instagram:before {
  content: "\eaa7";
}
.my-whatsapp:before {
  content: "\eaa8";
}
.my-spotify:before {
  content: "\eaa9";
}
.my-telegram:before {
  content: "\eaaa";
}
.my-twitter:before {
  content: "\eaab";
}
.my-vine:before {
  content: "\eaac";
}
.my-vk:before {
  content: "\eaad";
}
.my-renren:before {
  content: "\eaae";
}
.my-sina-weibo:before {
  content: "\eaaf";
}
.my-rss:before {
  content: "\eab0";
}
.my-rss2:before {
  content: "\eab1";
}
.my-youtube:before {
  content: "\eab2";
}
.my-youtube2:before {
  content: "\eab3";
}
.my-twitch:before {
  content: "\eab4";
}
.my-vimeo:before {
  content: "\eab5";
}
.my-vimeo2:before {
  content: "\eab6";
}
.my-lanyrd:before {
  content: "\eab7";
}
.my-flickr:before {
  content: "\eab8";
}
.my-flickr2:before {
  content: "\eab9";
}
.my-flickr3:before {
  content: "\eaba";
}
.my-flickr4:before {
  content: "\eabb";
}
.my-dribbble:before {
  content: "\eabc";
}
.my-behance:before {
  content: "\eabd";
}
.my-behance2:before {
  content: "\eabe";
}
.my-deviantart:before {
  content: "\eabf";
}
.my-500px:before {
  content: "\eac0";
}
.my-steam:before {
  content: "\eac1";
}
.my-steam2:before {
  content: "\eac2";
}
.my-dropbox:before {
  content: "\eac3";
}
.my-onedrive:before {
  content: "\eac4";
}
.my-github:before {
  content: "\eac5";
}
.my-npm:before {
  content: "\eac6";
}
.my-basecamp:before {
  content: "\eac7";
}
.my-trello:before {
  content: "\eac8";
}
.my-wordpress:before {
  content: "\eac9";
}
.my-joomla:before {
  content: "\eaca";
}
.my-ello:before {
  content: "\eacb";
}
.my-blogger:before {
  content: "\eacc";
}
.my-blogger2:before {
  content: "\eacd";
}
.my-tumblr:before {
  content: "\eace";
}
.my-tumblr2:before {
  content: "\eacf";
}
.my-yahoo:before {
  content: "\ead0";
}
.my-yahoo2:before {
  content: "\ead1";
}
.my-tux:before {
  content: "\ead2";
}
.my-appleinc:before {
  content: "\ead3";
}
.my-finder:before {
  content: "\ead4";
}
.my-android:before {
  content: "\ead5";
}
.my-windows:before {
  content: "\ead6";
}
.my-windows8:before {
  content: "\ead7";
}
.my-soundcloud:before {
  content: "\ead8";
}
.my-soundcloud2:before {
  content: "\ead9";
}
.my-skype:before {
  content: "\eada";
}
.my-reddit:before {
  content: "\eadb";
}
.my-hackernews:before {
  content: "\eadc";
}
.my-wikipedia:before {
  content: "\eadd";
}
.my-linkedin:before {
  content: "\eade";
}
.my-linkedin2:before {
  content: "\eadf";
}
.my-lastfm:before {
  content: "\eae0";
}
.my-lastfm2:before {
  content: "\eae1";
}
.my-delicious:before {
  content: "\eae2";
}
.my-stumbleupon:before {
  content: "\eae3";
}
.my-stumbleupon2:before {
  content: "\eae4";
}
.my-stackoverflow:before {
  content: "\eae5";
}
.my-pinterest:before {
  content: "\eae6";
}
.my-pinterest2:before {
  content: "\eae7";
}
.my-xing:before {
  content: "\eae8";
}
.my-xing2:before {
  content: "\eae9";
}
.my-flattr:before {
  content: "\eaea";
}
.my-foursquare:before {
  content: "\eaeb";
}
.my-yelp:before {
  content: "\eaec";
}
.my-paypal:before {
  content: "\eaed";
}
.my-chrome:before {
  content: "\eaee";
}
.my-firefox:before {
  content: "\eaef";
}
.my-IE:before {
  content: "\eaf0";
}
.my-edge:before {
  content: "\eaf1";
}
.my-safari:before {
  content: "\eaf2";
}
.my-opera:before {
  content: "\eaf3";
}
.my-file-pdf:before {
  content: "\eaf4";
}
.my-file-openoffice:before {
  content: "\eaf5";
}
.my-file-word:before {
  content: "\eaf6";
}
.my-file-excel:before {
  content: "\eaf7";
}
.my-libreoffice:before {
  content: "\eaf8";
}
.my-html-five:before {
  content: "\eaf9";
}
.my-html-five2:before {
  content: "\eafa";
}
.my-css3:before {
  content: "\eafb";
}
.my-git:before {
  content: "\eafc";
}
.my-codepen:before {
  content: "\eafd";
}
.my-svg:before {
  content: "\eafe";
}
.my-IcoMoon:before {
  content: "\eaff";
}
